html {
  font-size: 16px; }

.titulo {
  font-family: "Architects Daughter", cursive;
  transition: all 0.2s; }

.titulo:hover {
  transform: scale(1.05); }

body {
  background-color: #918f8d; }

.titulo:hover {
  color: #71ee37; }

.tituloMenu:hover {
  color: red; }

#separator-fit {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2; }

#separator-fit .content {
  width: 150%;
  height: 150px;
  background-color: rgba(14, 15, 15, 0.685);
  margin-left: -25%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; }

#separator-fitb {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2; }

#separator-fitb .contentb {
  width: 150%;
  height: 150px;
  background-color: rgba(14, 15, 15, 0.685);
  margin-left: -25%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%; }

.card-border {
  border: solid 2px black;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s; }

.card-border:hover {
  transform: scale(1.05); }

#vendedor {
  justify-content: center; }

.formulario {
  align-content: center; }

.footer {
  display: grid;
  justify-content: center; }

.redesSociales {
  padding-top: 50px;
  height: 100px;
  padding-bottom: 30px; }
  .redesSociales li {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    width: 100px;
    height: 50px; }
  .redesSociales a {
    color: cornsilk;
    background: #242222;
    padding: 15px 12px;
    margin-left: 60px;
    background-size: 100px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.2s;
    height: 150px; }

.informacionAlumno {
  width: 100%; }

.redesSociales ul:hover {
  transform: scale(1.05); }
